*{
    scroll-behavior: smooth;
}
.first-row{
    display: flex;
    position: sticky;
    flex-direction: row;
    top: 0px;
    background-color: rgb(250, 232, 211);
    justify-content: space-between; 

}
.Projects{
    background-color: lavender;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;

}
.row1{
    height:100vh;
    display: flex;
justify-content: center;
align-items: center;
background-color: rgb(252, 203, 220);  
}
.row1 img{
    margin-left: 500px;
    width: 250px;
    border-radius: 15px;
}

.About{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-color: rgb(252, 203, 220);
}

li{
display: inline;
padding: 8px;
font-size: large;

}
.box1{
background-color: whitesmoke;
margin: 10px;
border-radius: 10px ;
}
a{
text-decoration: none;
}
a:hover{
text-decoration: underline;
}
.about-project{
display: flex;
justify-content: space-between;
}
.Projects{
display: flex;
justify-content: center;
align-items: center;
}
.Contact{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-color: rgb(203, 241, 252);
}
.foots{
text-align: center;
padding:12px;
}